


.navigation{
display: flex;
justify-content: space-between;
align-items: center;
}

.burger-btn{
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  top: 10px;
}
.header{
  position: relative;
  
}
.mobile-menu{
  position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100vh;
 overflow: auto;
 background-color: violet;

 opacity: 0;
 visibility: hidden;
 pointer-events: none;
}
.mobile-menu.is-open{
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.mobile-menu__close-btn{
  position: absolute;
  top: 10px;
  right: 15px;


  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.mobile-menu__container{
  position: relative;
  padding-top: 48px;
}
.header__container{
  padding-top: 10px;
}

@media screen and (max-width: 767px){
      .nav-list{
      display: none;
    }

    .contact{
      display: none;
    }
}
@media screen and (min-width: 768px) {
  .nav-list {
      display: block;
    }
  
    .contact {
      display: block;
    }
    .burger-btn{
      display: none;
    }
  
}
// .header {
//   border-bottom: 1px solid #ececec;
// }
// .header__container {
//   display: flex;
//   align-items: center;
// }
// .navigation {
//   display: flex;
//   align-items: center;
// }
// .nav-list {
//   display: flex;
//   align-items: center;
// }
// .nav-list__link {
//   position: relative;
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   font-family: var(--primary-font-family);
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--dark-text-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
//   &::after {
//     content: '';
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     display: block;
//     width: 100%;
//     height: 4px;
//     background-color: var(--accent-color);
//     border-radius: 2px;

//     transform: scaleX(0);
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   &:hover::after,
//   &:focus::after {
//     transform: scaleX(1);
//   }
// }

// .nav-list__item {
//   margin-right: 50px;

//     &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .current {
//   color: var(--accent-color);

//   &:active {
//     content: '';
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     display: block;
//     width: 100%;
//     height: 4px;
//     background-color: var(--accent-color);
//     border-radius: 2px;

//     transform: scaleX(0);
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }
// .contact {
//   display: flex;
//   align-items: center;
//   margin-left: auto;
// }

// .contact__size {
//   margin-right: 50px;

//   &:nth-child(2n) {
//     margin-right: 0;
//   }
// }


// .contact-number,
// .contact-mail {
//   padding-top: 24px;
//   padding-bottom: 24px;

//   font-family: var(--primary-font-family);
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: #757575;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .contact-logo {
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
//   flex-direction: row-reverse;
// }
// .contact-logo-icon {
//   fill: #757575;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   margin-right: 10px;

//   .contact-mail:hover &,
//   .contact-mail:focus & {
//     fill: var(--accent-color);
//   }
//   .contact-number:hover &,
//   .contact-number:focus & {
//     fill: var(--accent-color);
//   }
// }



