.social-footer {
  display: flex;
  margin-top: 20px;
}

.social-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  background-color: rgba(100, 100, 100, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}


.social-footer__icon {
  fill: var(--main-light-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
