:root {
  --accent-color: #2196f3;
  --dark-text-color: #212121;
  --light-dark-text-color: #757575;
  --main-light-text-color: #ffffff;
  --icon-grey-main-color: #afb1b8;
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
}
